body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    margin: auto;
    width: 80%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

input[type="text"] {
    padding: 8px 20px;
}

input#inputSearch {
    width: 40%;
}

button {
    padding: 8px 20px;
}